body {
    padding-top: 30px;
    padding-left: 50px;
    margin-left: 50px;
    padding-right: 50px;
    margin-top: 0px;
    background-color: black;
    background: linear-gradient(70deg, rgba(0, 0, 0, 0.919), rgba(0, 0, 0, 0.64)), url('background-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    opacity: 2px;
}

p {
    color: red;
    text-shadow: black;
    height: 20px;
    font-size: 60px;
    font-weight: 700;
    font-style: normal;
    text-shadow: rgb(11, 11, 11);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 130px;
    padding-top: 50px;
}

.language-box {
    display: flex;
    align-items: center;
    border: 1px double rgb(255, 253, 253);
    border-radius: 7px;
    height: 50px;
    padding: 4px 15px;
    color: rgb(255, 255, 255);
}

.language-box .icon {
    margin-right: 5px;
    position: relative;
    background-size: cover;
    text-size-adjust: 100px;
}

#lang {
    background: transparent;
    color: rgb(255, 255, 255);
    border: solid black 1px;
    width: 150px;
    height: 40px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.738);

}

#sign-in {
    background-color: rgb(247, 7, 7);
    color: white;
    border: none;
    padding: 4px;
    margin: 20px;
    border-radius: 7px;
    width: 150px;
    height: 60px;
    font-size: 25px;
    font-weight: 400px;
}

#sign-in:hover {
    background-color: rgba(81, 13, 13, 0.71);
    border: solid red 1px;
}

#welcome_text {
    padding-top: 130px;
    color: white;
    text-align: center;
    font-size: 80px;
}

#sub_text {
    text-align: center;
    padding-top: 170px;
    color: rgba(255, 255, 255, 0.703);
    font-size: 22px;
    padding-top: 250px;
}

.creds {
    text-align: center;
    padding-block: 100px;
}

#email {
    background: transparent;
    color: rgb(251, 251, 251);
    border: solid rgb(243, 237, 237) 1px;
    font-size: 25px;
    height: 80px;
    width: 550px;
    border-radius: 7px;
}

#get_started {
    background-color: rgb(247, 7, 7);
    color: white;
    border: none;
    padding: 4px;
    margin: 20px;
    border-radius: 7px;
    width: 300px;
    height: 80px;
    font-size: 28px;
    font-weight: bolder;
}

#email::placeholder {
    padding-left: 50px;
    font-size: x-larger;
}

#get_started:hover {
    background-color: rgba(81, 13, 13, 0.71);
    border: solid red 1px;
}

.curve {
    margin: 120px 0;
    border-top: 5px solid red;
}